<header class="hdr">
  <div class="nav-header">
    <p class="hdr-brand">
      <span class="brand"><a href="#">CartoDB</a></span> Documentation
    </p>

    <a href="#" class="nav-button">
      Go Navigation
    </a>
  </div>

  <nav class="nav-collapse">
    <ul class="nav-menu">
      <li class="selected"><a href='{{ site.baseurl }}/index.html'>THE CARTODB UI</a></li>
      <li><a href='{{ site.baseurl }}/cartodb_js.html'>CARTODB.JS</a></li>
      <li><a href='{{ site.baseurl }}/sql_api.html'>SQL API</a></li>
      <li><a href='{{ site.baseurl }}/tutorials.html'>TUTORIALS</a></li>
      <li><a href='{{ site.baseurl }}/tips_and_tricks.html'>TIPS AND TRICKS</a></li>
    </ul>
  </nav>

  <form class="hdr-form">
    <input type="text" name="search" />
  </form>
</header>
