<header class="hdr">

  <p class="hdr-brand">
    <span class="brand"><a href="#">CartoDB</a></span>
    Documentation
  </p>

  <nav class="hdr-nav">
    <ul class="nav-principal">
      <li class="selected"><a href='index.html'>THE CARTODB UI</a></li>
      <li><a href='cartodb_js.html'>CARTODB.JS</a></li>
      <li><a href='sql_api.html'>SQL API</a></li>
      <li><a href='tutorials.html'>TUTORIALS</a></li>
      <li><a href='tips_and_tricks.html'>TIPS AND TRICKS</a></li>
    </ul>
  </nav>

  <form class="hdr-form">
    <input type="text" name="search" />
  </form>

  <nav class="nav-mobile">
    <a href="#">
      Go Navigation
    </a>
  </nav>

</header>
