<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ site.name }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="author" content="CartoDB">
  <meta name="DC.title" content="{{ site.name }}">
  <meta property="og:title" content="{{ site.name }}"/>
  <meta property="og:description" content="{{ site.description }}"/>
  <meta property="og:type" content="Visualization"/>
  <meta property="og:url" content="/"/>

  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">

  <link rel="stylesheet" href="{{ site.baseurl }}/css/docs.css">
  <script src="{{ site.baseurl }}/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

  {% include menu.html %}

  <section class="container">
    {% include nav.html %}
    <article class="inner">
      {{ content }}

    </article>

  </section>

  <script>
      window.addEventListener("load", function(){
      var heightHeader = document.querySelector(".hdr").offsetHeight;
      var canvas = document.body.offsetHeight;
      document.querySelector(".nav").style.height = canvas - heightHeader +'px';
    });
  </script>


</body>
</html>
