<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ site.name }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="author" content="CartoDB">
  <meta name="DC.title" content="{{ site.name }}">
  <meta property="og:title" content="{{ site.name }}"/>
  <meta property="og:description" content="{{ site.description }}"/>
  <meta property="og:type" content="Visualization"/>
  <meta property="og:url" content="/"/>

  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">

  <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/fonts.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/home.css">
  <script src="{{ site.baseurl }}/js/vendor/modernizr-2.6.2.min.js"></script>
</head>


<body>



<header class="header-background blue">

  <div class="inner">

    <nav class="navigation">
      <!--<span class="hdr-brand"><a href="#">Cartodb</a></span>-->
      <ul class="nvg-inner inb-list h-left">
          <li class="selected"><a href="#">Industries</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Pricing</a></li>
      </ul>

      <ul class="nvg-inner inb-list h-right">
        <li><a href="#">Sign Up</a></li>
        <li><a href="#" class="nav-login">Login</a></li>
      </ul>
    </nav>
  

    <div class="h-tcenter">
      <h1 class="tit-section tit-decoration tit-dcr-white">FAQs</h1>
      <h2 class="sub-section">Search our frequently asked questions…</h2>
      <div class="frm-faqs-inner h-iblock">
        <form action="#" method="" class="frm-faqs ">
          Search
        </form>
      </div>
      <nav class="inb-list nav-tags nav-blue">
        <h3 class="h-iblock nav-tgs-title">Common Themes</h3>
        <ul class="inb-list h-iblock">
          <li><a href="#">Sharing maps</a></li>
          <li><a href="#">Billing</a></li>
          <li><a href="#">Importing data</a></li>
          <li><a href="#">Geocoding</a></li>
          <li><a href="#">All</a></li>
        </ul>
      </nav>
    </div>

  </div>

</header>


  <div class="inner h-tcenter">
    
      <ul class="inb-list item-faqs h-tleft">
        <li>
          <ul class="fqs-inner">
            <li>
                <h3 class="fqs-inner-title"><a href="#">CartoDB Dashboard</a></h3>
                <p class="fqs-inner-txt">The guide to mapping with our easy to use authoring tool</p>
            </li>
            <li>
                <h3 class="fqs-inner-title"><a href="#">CartoDB Dashboard</a></h3>
                <p class="fqs-inner-txt">The guide to mapping with our easy to use authoring tool</p>
            </li>
            <li>
                <h3 class="fqs-inner-title"><a href="#">CartoDB Dashboard</a></h3>
                <p class="fqs-inner-txt">The guide to mapping with our easy to use authoring tool</p>
            </li>
          </ul>
        </li>
        <li>
          <ul class="fqs-inner">
            <li>
                <h3 class="fqs-inner-title"><a href="#">CartoDB Dashboard</a></h3>
                <p class="fqs-inner-txt">The guide to mapping with our easy to use authoring tool</p>
            </li>
            <li>
                <h3 class="fqs-inner-title"><a href="#">CartoDB Dashboard</a></h3>
                <p class="fqs-inner-txt">The guide to mapping with our easy to use authoring tool</p>
            </li>
            <li>
                <h3 class="fqs-inner-title"><a href="#">CartoDB Dashboard</a></h3>
                <p class="fqs-inner-txt">The guide to mapping with our easy to use authoring tool</p>
            </li>
          </ul>
        </li>
        <li>
          <ul class="fqs-inner">
            <li>
                <h3 class="fqs-inner-title"><a href="#">CartoDB Dashboard</a></h3>
                <p class="fqs-inner-txt">The guide to mapping with our easy to use authoring tool</p>
            </li>
            <li>
                <h3 class="fqs-inner-title"><a href="#">CartoDB Dashboard</a></h3>
                <p class="fqs-inner-txt">The guide to mapping with our easy to use authoring tool</p>
            </li>
            <li>
                <h3 class="fqs-inner-title"><a href="#">CartoDB Dashboard</a></h3>
                <p class="fqs-inner-txt">The guide to mapping with our easy to use authoring tool</p>
            </li>
          </ul>
        </li>
      </ul>

      <h2 class="tit-section tit-decoration tit-dcr-dark">More questions?</h2>



  </div>

  {{ content }}


</body>
</html>
